@charset "utf-8";

/* Page layout */

.headerRow {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

img {
    display: inline-block;
    vertical-align: middle;

    height: 220px;
    width: auto;
    align-content: flex-start;
    padding-left: 20px;
}

/* Navigation Layout */

nav {
    position: relative;

    left: 700px;
    top: -115px;

    width: 35%;

    text-align: left; 
}

ul {
    list-style-type: decimal;
}