@charset "utf-8";

/* General Styles */

html {
    background-color: rgb(242, 234, 224);
}



/* Body Styles */

body {
    background-color: rgb(180, 211, 217);
    color: rgb(155, 142, 199);
}

/* Navigation Styles */

nav a:link {
    color:  black;
}

nav a:hover {
    background-color: rgb(189, 166, 206);
}
