@charset "utf-8";

/* General Styles */

html {
    background-image: url(index_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
}


/* Header Styles */

header {
    font-family: 'Courier New', Courier, monospace;
}


/* Body Styles */


body {
    background-color: rgb(180, 211, 217);
    color: black;
    margin-left: auto;
    margin-right: auto;
    width: 1152px;
    min-height: 100vh;
}

@font-face {
   font-family: 'Playwrite';
   src: url('PlaywriteGBS-Regular.ttf') format('truetype');
}

h1 {
   font-family: 'Playwrite', cursive;
   background-color: rgb(189, 166, 206);
   color: rgb(180, 211, 217);

   text-align: center;
   font-size: 4.75em;

   margin: 0;
   padding: 30px;

   width: 100%;
   box-sizing: border-box;
}

h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 7px;
}

h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
    padding-left: 150px;
    padding-top: 7px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;

    padding-left: 160px;
}


/* Navigation and Link Styles */

nav {
   font-family: 'Playwrite', cursive;
   font-size: small;
   color:black;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.assignmentTile {
    width: 350px;
    height: 90px;
    margin-bottom: 15px;

    background-image: url("index_links.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
}

.assignmentTile a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
}



