@charset "utf-8";

/* Page layout */

.headerRow {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
}

img {
    display: inline-block;
    vertical-align: middle;

    height: 220px;
    width: auto;
    align-content: flex-start;
    padding-left: 20px;
}

/* Navigation Layout */

nav {
    display:block;
    position: relative; 

    left: 700px;
    top: -115px;

    width: 35%;

    text-align: left; 
}

ul {
    list-style-type: decimal;
    text-align: left;
    text-decoration: none;
    line-height: 3em;
}
nav ul {
    list-style-type: none;
    padding-left: 0;
}

nav ul li.assignmentTile {
    width: 350px;
    height: 90px;
    margin-bottom: 15px;

    background-image: url("index_links.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 20px;
}

nav ul li.assignmentTile a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}